<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">    
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>
  
  <logger name="org.apache" level="INFO"/>
  <logger name="org.springframework" level="INFO"/>
  <logger name="org.hibernate" level="INFO"/>
  <logger name="org.reflections" level="INFO"/>
  <logger name="com.esl" level="debug" />

  <root level="debug">
    <appender-ref ref="async" />
  </root>
</configuration>