
.yui-overlay,
.yui-panel-container {
    visibility:hidden;
	position:absolute;
	z-index: 1;
}

.masked .yui-panel-container {

    /*
        Default to a z-index 1 higher than default if the Panel is modal
        to make sure the panel is above its modality mask.
    */

   z-index: 2;

}
.yui-tt {
	visibility:hidden;
	position:absolute;
	color:#333;
	background-color:#FDFFB4;
	font-family:arial,helvetica,verdana,sans-serif;
	padding:2px;
	border:1px solid #FCC90D;
	font:100% sans-serif;
	width:auto;
}




* html body.masked select {
	visibility:hidden;
}

* html div.yui-panel-container select {
	visibility:inherit;
}

* html div.drag select {
	visibility:hidden;
}

* html div.hide-select select {
	visibility:hidden;
}

.mask {
    display:none;
    position:absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity:.50;
    filter: alpha(opacity=50);
    background-color:#CCC;
}


.hide-scrollbars,
.hide-scrollbars * {

	overflow: hidden;

}

.hide-scrollbars select {

	display: none;

}

.show-scrollbars {

    overflow: auto;

}

.hide-scrollbars textarea, .hide-scrollbars select {
	overflow:hidden;
	display:none;
}

.show-scrollbars textarea, .show-scrollbars select {
	overflow:visible;
}

.yui-panel-container {
	position:absolute;
	background-color:transparent;
	z-index:6;
	visibility:hidden;
	overflow:visible;
	width:auto;
}

.yui-panel-container.matte {
	padding:3px;
	background-color:#FFF;
}

.yui-panel-container.matte .underlay {
	display:none;
}

.yui-panel-container.shadow {
	padding:0px;
	background-color:transparent;
}

.yui-panel-container.shadow .underlay {
	visibility:inherit;
	position:absolute;
	background-color:#CCC;
	top:3px;left:3px;
	width:100%;
	height:100%;
    -moz-opacity: 0.7;
    opacity:.70;
    filter:alpha(opacity=70);
	
}

.yui-panel {
	visibility:hidden;
	border-collapse:separate;
	position:relative;
	left:0px;top:0px;
	font:1em Arial;
	background-color:transparent;
	border:none;
	z-index:1;
	overflow:visible;
}

.yui-panel .hd {
	background:transparent url(/ESL/images/yui/aqua-hd-bg.gif);
	color:#000;
	font-size:100%;
	line-height:100%;
	border:none;
	font-weight:bold;
	overflow:visible;
	padding:0px;
	height:22px; 
	margin-left:7px; 
	margin-right:7px;
	text-align:center;
}

.yui-panel .hd span { vertical-align:middle; line-height:22px; }
.yui-panel .hd .tl { width:7px; height:22px; top:0; left:0; background:transparent url(/ESL/images/yui/aqua-hd-lt.gif); position:absolute; }
.yui-panel .hd .tr { width:7px; height:22px; top:0; right:0; background:transparent url(/ESL/images/yui/aqua-hd-rt.gif); position:absolute; }

.yui-panel .bd {
	overflow:hidden;
	padding:4px;
	border:1px solid #aeaeae; 
	background-color:#FFF; 
}

.yui-panel .bd p {
	margin:0 0 1em;
}

.yui-panel .container-close {
	position:absolute;
	top:3px;
	right:4px;
	z-index:6;
	height:18px;
	width:17px;
	margin:0px;
	padding:0px;
	background-repeat:no-repeat;
	cursor:pointer;
	visibility:inherit;
	background-image:url(/ESL/images/yui/aqua-hd-close.gif);
}

.yui-panel .container-close:hover {background-image:url(/ESL/images/yui/aqua-hd-close-over.gif); }
.yui-panel .container-close.nonsecure { background-image:url(/ESL/images/yui/aqua-hd-close.gif); }
.yui-panel .container-close.secure { background-image:url(/ESL/images/yui/aqua-hd-close.gif); }
.yui-panel .container-close.nonsecure:hover { background-image:url(/ESL/images/yui/aqua-hd-close-over.gif); }
.yui-panel .container-close.secure:hover { background-image:url(/ESL/images/yui/aqua-hd-close-over.gif); }

.yui-panel .ft {
	padding:2px;
	overflow:hidden;
	font-size:75%;
	color:#666;
	border:1px solid #aeaeae;
	border-top:none;
	background-color:#dfdfdf;
}

.yui-simple-dialog .bd .icon {
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	margin-right:10px;
	float:left;
}

.yui-dialog .ft, .yui-simple-dialog .ft {
	padding-bottom:5px;
	padding-right:5px;
	text-align:right;
	font-size:100%;
}

.yui-dialog form, .yui-simple-dialog form {
	margin:0;
}

.button-group button {
	font:100 76% verdana;
	text-decoration:none;
	background-color: #E4E4E4;
	color: #333;
	cursor: hand;
	vertical-align: middle;
	border: 2px solid #797979;
	border-top-color:#FFF;
	border-left-color:#FFF;
	margin:2px;
	padding:2px;
}

.button-group button.default {
	font-weight:bold;
}

.button-group button:hover, .button-group button.hover { 
	border:2px solid #90A029;
	background-color:#EBF09E;
	border-top-color:#FFF;
	border-left-color:#FFF;
}

.button-group button:active { 
	border:2px solid #E4E4E4;
	background-color:#BBB;
	border-top-color:#333;
	border-left-color:#333;
}

.dialogDiv label { display:block;float:left;width:30%;clear:left; }

.dialogDiv input, .dialogDiv textarea { width:65%; }
