.newContent html, 
.newContent body, 
.newContent div, 
.newContent span, 
.newContent applet, 
.newContent object, 
.newContent iframe, 
.newContent h1,
.newContent h2, 
.newContent h3, 
.newContent h4, 
.newContent h5, 
.newContent h6, 
.newContent p, 
.newContent blockquote, 
.newContent pre, 
.newContent a, 
.newContent abbr, 
.newContent acronym, 
.newContent address, 
.newContent em, 
.newContent img, 
.newContent small, 
.newContent strike, 
.newContent strong, 
.newContent sub, 
.newContent sup, 
.newContent tt, 
.newContent var,
.newContent b, 
.newContent u, 
.newContent i, 
.newContent center, 
.newContent dl, .newContent dt, .newContent dd, .newContent ol, .newContent ul, .newContent li, .newContent fieldset, .newContent form, .newContent label,
.newContent legend, .newContent table, .newContent caption,
.newContent tbody, .newContent tfoot, .newContent thead, .newContent tr, .newContent th, .newContent td 
{
	 font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	 font-size: 20px;
}

.newContent input
{
	font-size: 18px;
	border: 2px solid #CCC;
}

.newContent *.rf-cal-edtr-btn {
	font-size: 16px;
}

.newContent small
{
	font-size: 14px;
}

.newContent legend
{
	font-size: 12px;
}

.newContent ul, .newContent ol {
	list-style: none;
	margin: 0px;
}

.newContent div {
	display: inline-block;
	vertical-align: top;
}

.newContent td {
	vertical-align: top;
	padding-bottom: 5px;
}